<div class="backdrop is-hidden" id="form-backdrop">
  <div class="modal">
    <button class="modalCloseButton" type="button">
      <svg class="buttonIcon">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="modalTitle">Залишіть заявку на знайомство</h1>
    <form class="form">
      <label class="formLabel" for="name">Ім’я*</label>
      <input
        class="formInput"
        id="name"
        type="text"
        name="name"
        placeholder="Андрій"
        maxlength="32"
        required
      />
      <span class="errorText">Error text</span>
      <label class="formLabel" for="tel">Телефон*</label>
      <input
        class="formInput"
        id="tel"
        type="tel"
        name="tel"
        placeholder="380955559922"
        pattern="[0-9]{12}"
        required
      />
      <span class="errorText">Error text</span>
      <label class="formLabel" for="comment">Коментар</label>
      <textarea
        class="formTextarea"
        id="comment"
        name="comment"
        placeholder="Напишіть ваш коментар"
        maxlength="32"
      ></textarea>
      <span class="errorText">Error text</span>
      <button class="formButton" type="submit">Надіслати</button>
    </form>
  </div>
</div>
