<section class="our-pets">
  <div class="container our-pets-container">
    <h2 class="our-pets-title">Наші хвостики</h2>
    <p class="our-pets-additional-text">
      Вони дуже чекають на знайомство з вами
    </p>
    <ul class="our-pets-categories"></ul>

    <ul class="our-pets-list"></ul>
    <div class="loader IsHidden">Loading...</div>
    <button
      class="our-pets-pagination-btn IsHidden"
      id="pets-pagination"
      type="button"
    >
      Показати більше
    </button>
  </div>
</section>
