<section class="our-pets">
  <div class="container our-pets-container">
    <h2 class="our-pets-title">Наші хвостики</h2>
    <p class="our-pets-additional-text">
      Вони дуже чекають на знайомство з вами
    </p>
    <ul class="our-pets-categories">
      <li class="our-pets-category-item">
        <button class="category-btn active" type="button">Всі</button>
      </li>
    </ul>

    <ul class="our-pets-list">
      <li class="our-pets-item">
        <img
          class="pets-img"
          src="https://ftp.goit.study/img/paw-hut/667ad1b8e4b01a2b3c4d5e01.webp"
          alt="Песик"
        />
        <p class="pets-species">Кіт</p>
        <h3 class="pets-name">Найда</h3>
        <ul class="pets-categories">
          <li class="pets-category"><p>Собаки</p></li>
          <li class="pets-category"><p>Тварини з особливими потребами</p></li>
          <li class="pets-category"><p>Терміново шукають дім</p></li>
        </ul>
        <ul class="pets-personal">
          <li class="pets-personal-item">2 роки</li>
          <li class="pets-personal-item">Хлопчик</li>
        </ul>
        <p class="pets-short-description">
          Незалежний та гордий кіт. Дозволяє себе гладити, коли сам цього
          захоче.
        </p>
        <button class="pets-btn" type="button">Дізнатись більше</button>
      </li>
      <li class="our-pets-item">
        <img
          class="pets-img"
          src="https://ftp.goit.study/img/paw-hut/667ad1b8e4b01a2b3c4d5e01.webp"
          alt="Песик"
        />
        <p class="pets-species">Кіт</p>
        <h3 class="pets-name">Найда</h3>
        <ul class="pets-categories">
          <li class="pets-category"><p>Собаки</p></li>
          <li class="pets-category"><p>Тварини з особливими потребами</p></li>
          <li class="pets-category"><p>Терміново шукають дім</p></li>
        </ul>
        <ul class="pets-personal">
          <li class="pets-personal-item">2 роки</li>
          <li class="pets-personal-item">Хлопчик</li>
        </ul>
        <p class="pets-short-description">
          Незалежний та гордий кіт. Дозволяє себе гладити, коли сам цього
          захоче.
        </p>
        <button class="pets-btn" type="button">Дізнатись більше</button>
      </li>
      <li class="our-pets-item">
        <img
          class="pets-img"
          src="https://ftp.goit.study/img/paw-hut/667ad1b8e4b01a2b3c4d5e01.webp"
          alt="Песик"
        />
        <p class="pets-species">Кіт</p>
        <h3 class="pets-name">Найда</h3>
        <ul class="pets-categories">
          <li class="pets-category"><p>Собаки</p></li>
          <li class="pets-category"><p>Тварини з особливими потребами</p></li>
          <li class="pets-category"><p>Терміново шукають дім</p></li>
        </ul>
        <ul class="pets-personal">
          <li class="pets-personal-item">2 роки</li>
          <li class="pets-personal-item">Хлопчик</li>
        </ul>
        <p class="pets-short-description">
          Незалежний та гордий кіт. Дозволяє себе гладити, коли сам цього
          захоче.
        </p>
        <button class="pets-btn" type="button">Дізнатись більше</button>
      </li>
    </ul>

    <button class="our-pets-pagination-btn" id="pets-pagination" type="button">
      Показати більше
    </button>
    <div class="loader">Loading...</div>
  </div>
</section>
