<section class="our-pets" id="pets-list">
  <div class="container our-pets-container">
    <h2 class="our-pets-title">Наші хвостики</h2>
    <p class="our-pets-additional-text">
      Вони дуже чекають на знайомство з вами
    </p>
    <ul class="our-pets-categories"></ul>

    <ul class="our-pets-list"></ul>
    <div class="loader loader-hidden"></div>
    <button
      class="our-pets-pagination-btn is-hidden"
      id="pets-pagination"
      type="button"
      aria-label="Завантажити більше домашніх улюбленців"
    >
      Показати більше
    </button>
  </div>
</section>
