<section class="success-stories" id="success-stories">
  <div class="container">
    <h2 class="stories-title">Щасливі історії, що надихають</h2>

    <p class="stories-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <!-- slider -->
    <div class="swiper stories-swiper">
      <ul class="swiper-wrapper textFedbacks"></ul>
    </div>

    <!-- controls -->
    <div class="stories-controls">
      <!-- pagination LEFT -->
      <div class="stories-pagination"></div>

      <!-- buttons RIGHT -->
      <div class="navi-btn">
        <button type="button" class="stories-btn stories-prev" aria-label="Previous story">
          <svg width="24" height="24" aria-hidden="true">
            <use href="./img/sprite.svg#icon-arrow_back"></use>
          </svg>
        </button>

        <button type="button" class="stories-btn stories-next" aria-label="Next story">
          <svg width="24" height="24" aria-hidden="true">
            <use href="./img/sprite.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
